
header {
    background-color: rgb(179, 238, 255);
    display: flex;
    flex-direction: row;
}
.logoagendatop {
    margin-top: 10px;
    margin-left: 10px;
}


div { 
    margin-top: 2%;
}


form div {
   
    margin-bottom: 2%;
    margin-left: 40%;
    margin-right: 40%;

}
label{
    color: blanchedalmond;
}
.labelnom {
    margin: 8%;
}

input {
    margin: 5%;
    
}


h1 {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 50px;

}
p {
    color: white;
    margin-bottom: 2%;
    margin-left: 40%;
    margin-right: 40%;

}



.structurematiere {
    display: flex;
    flex-direction: row;  
}

.inputradio {
    color: white;
}

body {
    background-color: black;
}

.validerbutton {
    margin-left: 47%;
}

.inputradiomarge {

    margin-left: 42%;
    display: flex;
    flex-direction: column;
}

